* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #11212d;
  color: #e1e1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
  padding-top: 4rem;
  padding-bottom: 2rem;
  gap: 1rem;
}

.foto-ku {
  width: 8rem;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: inherit;
}

.medsos i {
  font-size: 1.5rem;
  color: #9ba8ab;
}

.medsos a:not(:last-child) {
  margin-right: 1rem;
}

ul {
  width: 80%;
  max-width: 40rem;
}

ul li {
  list-style: none;
}

ul.links li:not(:last-child) {
  margin-bottom: 1rem;
}

.links {
  margin-top: 1rem;
}

.link-kartu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c425f;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 8px 10px 0 #081621;
  border: 2px solid #1c425f;
}

.link-kartu:hover {
  border: 2px solid white;
}

.links .link-icon {
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-action {
  color: #9ba8ab;
  cursor: pointer;
}

.copyright {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #707a81;
  font-size: 0.75rem;
  gap: 0.2rem;
}

.copyright img {
  width: 2rem;
  opacity: 0.4;
}
